@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-motion";

html,
body {
  overflow-x: hidden;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-loop-scroll {
  animation: loop-scroll 25s linear infinite;
}
